<!DOCTYPE html>
<html>

<head>
    <title>Similarity Table</title>
    <!-- Styles added as inline styles so they work in gmail -->
    <!-- <style>
        div {
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        td.score {
            text-align: right;
        }
        td {
            padding: 4px 6px;
        }
        h2 {
            margin-bottom: 10px;
            text-align: center;
        }
    </style> -->
</head>

<body>
    {% for member_name, scores_array in similarity_scores.items() %}
    <div style="float: left; margin-left: 20px; margin-bottom: 10px;">
        <h2 style="margin-bottom: 10px; text-align: center;">{{ member_name }}</h2>
        <table>
            <thead>
            </thead>
            <tbody>
                {% for other_member in scores_array %}
                {% set score = other_member["score"] %}
                {% set range = max - min %}
                {% set hue = ((score - min) / range * 120) | round(2) %}

                <tr style="background-color: hsl({{ hue }}, 100%, 66%);">
                    <td class="name" style="padding: 4px 6px;">{{ other_member["name"] }}</td>
                    <td class="score" style="padding: 4px 6px; text-align: right;">{{ score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</body>

</html>